.contact{
    background: black;
    display: flex;
    justify-content: space-between;
    min-height: 15vh;
   
    color: WHITE;
}
.contact .socialmedia{
   
    margin:0 20px;
    display: flex;
   
    flex-direction: column;
    font-size: 25px;
   position: relative;
}
.contact .socialmedia span{
    margin-top: 20px;
    font-size: 20px;
   
}
.contact .socialmedia .apps{
    display: flex;
   
    gap: 20px;
}

.contact .socialmedia div:nth-child(1) >a{
    color: red;
}
.contact .socialmedia div:nth-child(2)>a{
    color:blue;
}
.contact .socialmedia div:nth-child(3)>a{
    color:green;
}
.contact  .email{
    margin: 80px 10px 0 0;
    font-size: 10px;
    }
.contact  .email span{
   

}
.contact  .email span:nth-child(2){
    margin-top: 20px;
    font-weight: 800;
}
.contact .socialmedia div div:hover{cursor: pointer;transform: scale(1.1);}
.contact .socialmedia .contact-email{
    font-size: 12px;
}
