.homepage {

    background-image: linear-gradient(to left, #DECBA4, #3E5151);

    min-height: 100vh;
  
    overflow-x: hidden;
}
.homepage .container-fluid{
   
   
   

}
.homepage .container-fluid .col-container{
    /* top:50%;
    position: absolute;
    transform: translate(0,-50%); */
    width: 80vw;
    display: flex;
    justify-content: space-between;

}
.homepage .container-fluid .col-container{
   
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    color: white;
}
.homepage .container-fluid .col-container .col-first .hi{
    font-size: 4rem;
    font-weight: 500;
    color: rgb(8, 163, 168);
   
    
}
.homepage .container-fluid .col-container .col-first .resume-btn a{
  
   opacity: 0;
   animation: resumebtn 0.1s 6s linear forwards;
}
.homepage .container-fluid .col-container .col-first{
    height: 200px;
   min-width: 30vw;
}
.homepage .container-fluid .col-container .col-second{
    
    min-width: 30vw;
}

.homepage .container-fluid .col-container .col-second  img{
    width: 300px ;
    height: 300px;
    border-radius: 100%;
   box-shadow: 0px 0px 10px 10px white;
}
.homepage .container-fluid .col-container .col-second  img:hover{
    cursor: pointer;
 
    transition: all 0.2s ease-in-out;
}
.homepage .name{
    font-size:3rem;
    display: block;
    transition: all ease-in-out;
   
}
.homepage .profession{
    font-size: 2rem;
    display: block;
    transition: all ease-in-out;
    font-weight: 500;
    margin-bottom: 20px;
}
.homepage .container-fluid .col-container .col-first .resume-btn a button{
  padding: 10px;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 800;
    letter-spacing:2px;
    color:white;
 /* box-shadow: 0px 0px 10px purple;*/
box-shadow: 3px 6px 20px #672C2C1F;
}
.blink{
    margin-left: 20px;
    width: 10px;
    padding: 2px;
    height: 50px;
    background: white;
    animation: blinkanim 0.2s infinite linear;
}
@keyframes blinkanim{
    from{opacity: 0;background: white;}
    to{opacity: 1;background: white;}
}

@keyframes resumebtn{
    from{opacity: 0; }
    to{opacity: 1;}
}
